<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.EventEntryInfoMapper">
	<select id="getCountByEventIDs"
		resultType="com.example.demo.entity.EventEntryInfo">
		SELECT eventInfoId,userId FROM event_entry_info
		WHERE eventInfoId IN
		<foreach item="id" collection="ids" open="(" separator=","
			close=")">
			#{id}
		</foreach>
		ORDER BY eventInfoId
	</select>
	<insert id="setEventEntryInfo" parameterType="EventEntryInfo">
		INSERT INTO event_entry_info
		(eventInfoId,
		userId,
		nickName,
		entryTime)
		VALUES
		(#{eventInfoId},
		#{userId},
		#{nickName},
		#{entryTime}
		)
	</insert>
</mapper>
